// Global Foundation Settings
$row-width: 46em

@import "foundation/foundation-global"
@import "foundation/components/global"
@import "foundation/components/grid"
@import "foundation/components/type"
@import "foundation/components/buttons"
@import "foundation/components/pricing-tables"

body
	background: url(bg.png)
	text-align: center
	padding-top: emCalc(15px)

section
	@include grid-row()

#main
	@include grid-row()
	margin-top: emCalc(15px)
	margin-bottom: emCalc(15px)
	padding: 15px
	background: #fff
	-moz-box-shadow: 0 0 5px #888
	-webkit-box-shadow: 0 0 5px #888
	box-shadow: 0 0 5px #888

#pricing
	img
		@include grid-column(8)
	ul
		@include grid-column(4)
		@include pricing-table-container
		padding-right: 0
		padding-left: 0
		li
			@include pricing-table-bullet
		.cost, .event
			@include pricing-table-title
			background-color: #84c1ff
			color: #fff
			font-weight: normal
	p
		font-style: italic


#bio
	img
		@include grid-column(5)
	p
		@include grid-column(7)
		text-align: justify

a
	@include button-base
	@include button-size
	@include button-style(#04a403)
	@include single-transition
	@include inset-shadow

@media only screen and (max-width: 580px )
	#pricing
		ul, img, p
			@include grid-column(12)
		ul
			margin-top: 1.25em
			@include pricing-table-container
			padding-right: 0
			padding-left: 0
	#bio
		img, p
			@include grid-column(12)
	h2
		font-size: 1.4em


